:root {
  --red-color: #ff6263;
  --pink-color: #b9345a;
  --green-color: #50dbb4;
}

body {
  background-color: var(--red-color);
}

img {
  width: 50vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 50%;
}
input {
  padding: 0.5rem 0.3rem;
  border-radius: 0.7rem;
  margin: 1rem 0rem;
}
button {
  width: 40%;
  margin: auto;
  border-radius: 1rem;
  padding: 0.3rem;
}
.hero {
  text-align: center;
  color: #14626c;
}
.container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#output {
  text-align: center;
  /* width: 50%; */
  margin: auto;
}
#message {
  text-align: center;
  width: 50%;
  margin: auto;
}
.processing {
  background-color: #03203c;
  padding: 0.4rem;
  border-radius: 2rem;
  text-align: center;
  color: wheat;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}
#privacy-concern {
  background-color: var(--green-color);
  border-radius: 1rem;
  text-align: center;
  padding: 0.2rem;
}
